strong {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    text-align: right;
  }
  
  hr {
    color: black;
    height: fit-content;
    border: none; /* Fix the typo here */
  }
  
  b {
    color: brown;
  }
  
  body {
    background-color: rgb(156, 236, 75);
    margin: 0;
    padding: 0;
  }
  
  .markdown-body li {
    word-break: break-all;
  }
  
  .markdown-body pre code,
  .markdown-body pre tt {
    max-width: 100%; /* or any other valid value */
  }
  a {
    text-decoration: none; 
    color: #0077cc; 
  }
  
  a:hover {
    text-decoration: underline; 
  }  
  
p::first-letter {
    font-size: em; /* 1.5 times the normal font size */
    font-weight: bold; /* Optional: You can adjust the styling as needed */
    /*float: left; /* Float the drop cap to the left for a traditional look */
   /* margin-right: 5px; /* Optional: Add some space between the drop cap and the rest of the text */
  }
  h1::first-letter{
    font-size: em;
    font-weight: bold;

  }
  
  