strong {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    text-align: right;
  }
  
  hr {
    color: black;
    height: fit-content;
    border: none; /* Fix the typo here */
  }
  
  b {
    color: brown;
  }
  
  body {
    margin: 0;
    padding: 0;
    height:100vh;
    position: relative;
    }
    body::before{
        content: " ";
        background: url('/cs472/lab2/OI.jpeg') center center fixed;
        background-size: cover;
        opacity: 10;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
  
  .markdown-body li {
    word-break: break-all;
  }
  
  .markdown-body pre code,
  .markdown-body pre tt {
    max-width: 100%; /* or any other valid value */
  }
  a {
    text-decoration: none; 
    color: #0077cc; 
  }
  
  a:hover {
    text-decoration: underline; 
  }  
  
  
p::first-letter {
    font-size: 20; 
    font-weight: bold; 
    /*float: left; /* Float the drop cap to the left for a traditional look */
   /* margin-right: 5px; /* Optional: Add some space between the drop cap and the rest of the text */
  }
  h1::first-letter{
    font-size: 20;
    font-weight: bold;

  }
  
  